* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas:
    "sb hd hd hd hd hd hd"
    "sb mn mn mn mn mn mn"
    "sb mn mn mn mn mn mn";
}

.header {
  grid-area: hd;
  position: sticky;
  top: 0px;
}

.sidebar {
  grid-area: sb;
  min-height: 100vh;
}

.main {
  grid-area: mn;

  padding: 0.75em;
}
